@import "../../../node_modules/bootstrap/less/variables";
@import "../../less/_variables";

page-shop {
	display: block;
	.list-header {
		background-color: #eee;
	}
	.view-btn.dropdown-menu {
		min-width: 75px;
		right: auto;
	}
	.one-line {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.three-line {
		display: block;
		display: -webkit-box;
		height: 141.428571433px;
		margin: 0 auto;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.background-image-css {
		height: 100px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.hover-change-image {
		.image-one {
			display: block;
		}
		.image-two {
			display: none;
		}
	}
	.hover-change-image:hover {
		.image-one {
			display: none;
		}
		.image-two {
			display: block;
		}
	}
	.mouse-pointer {
		cursor: pointer;
	}
	.hover-color:hover {
		color: @brand-primary;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}